.container-fluid {
    padding: 0px;
}

#menu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #262525;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* LEAVE PADDING-TOP CLEAR; this is manipulated in common/main.js */
}

#menu::-webkit-scrollbar {
    display: none;
}

#selection-wrapper {
    /* height: 0; */
    /* margin-top: 50%; */
    /* height: 100%; */
    padding-left: 5rem;
    padding-right: 5rem;
}

/* a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
} */

.option {
    background-color: #666666;
    font-size: 1.5rem;
    color: #F3F3F3;
    border-radius: .65rem;
    /* font-size: 1.5rem; */
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}

.option:hover {
    color: #D9D9D9;
    background-color: #434343;
}

#log-out {
    margin-top: 0;
}


/*
#selection-wrapper > *:not(:first-child) {
    margin-top: 3rem;
} */
