#header-icon-story {
    background-color: #D9EAD3;
    color: #38761D;
}

#story {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#story::-webkit-scrollbar {
    display: none;
}
