.container-fluid {
    padding: 0px;
}

#header-icon-map {
    /* background-color: #D9EAD3; */
    /* color: #38761D; */
}

#alerts {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    /* height: 100%; */
    background-color: lightblue;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#alerts::-webkit-scrollbar {
    display: none;
}

#alerts > * {
    /* position: absolute; */
    height: 100%;
    /* bottom: 0; */
    /* top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0; */
}

.folium-map {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    bottom: 0px;

}
/*
iframe * {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999;
} */

#alerts-footer {
    position: absolute;
    width: 100%;
    height: 4rem;
    bottom: 0px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

#alerts-footer a {
    width: 40%;
}

#alerts-button, #posts-button {
    background-color: #D9D9D9;
    color: #555555;
    margin-top: .7rem;
    height: 2.6rem;
    border-radius: .5rem;
    line-height: 2.6rem;
    width: 100%;
    text-align: center;
    border: 1px solid #666666;
}

#alerts-button {
    background-color: #666666;
    color: #EEEEEE
}
