{% extends 'common/base.html' %}

{% block content_style %}
{% load static %}
<link rel='stylesheet' href='{% static 'common/css/lib/selectivity-jquery.min.css' %}'>
<link rel='stylesheet' href='{% static 'compose/css/new_style.css' %}'>
{% endblock %}

{% block content_script %}
{% load static %}
<script type='text/javascript' src='{% static 'common/js/lib/selectivity-jquery.min.js' %}'></script>
<script type='text/javascript'>
    var tagNames = {{ tag_names }};
    var cityNames = {{ city_names }};
</script>
<script type='text/javascript' src='{% static 'compose/js/new_main.js' %}'></script>
{% endblock %}


{% block content %}
{% include 'common/header.html' %}
<div class='container-fluid'>
    <div id='compose'>
        <form id='new-form' action='{% url 'compose:new' %}' method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            <input type='hidden' id='tags-input-hidden' name='tags'>
            <input type='hidden' id='city-input-hidden' name='city'>
            {{ form.non_field_errors }}
            <div id='content-mat' class='custom-shadow'>
                <div id='image-wrapper' class='form-group'>
                    {{ form.image }}
                    {{ form.image.errors }}
                </div>
                <div id='title-wrapper' class='form-group'>
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>
                <div id='text-wrapper' class='form-group'>
                    {{ form.text }}
                    {{ form.text.errors }}
                </div>
            </div>
            <div id='meta-mat' class='custom-shadow-specific'>
                <div id='tags-wrapper' class='form-group'>
                    <div id='tags'></div>
                    {{ form.tags.errors }}
                </div>
                <div id='city-wrapper' class='form-group'>
                    <div id='city'></div>
                    {{ form.city.errors }}
                </div>
            </div>
            <button id='submit-button' type='submit' class="custom-shadow">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
