.container-fluid {
    padding: 0;
}

#posts {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #1E1E1E;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 5rem;
}

#posts::-webkit-scrollbar {
    display: none;
}

#posts-footer {
    position: absolute;
    width: 100%;
    height: 4rem;

    /* kludgey, but can't animate to auto. so, = .7rem*2 + 2.6rem*4 + 1.2rem*3 */
    /* height: 15.4;  */

    background-color: #174839;
    bottom: 0;
}

#footer-bars {
    position: relative;
    margin-left: 1.6rem;
    margin-top: .5rem;
    /*margin-bottom: -.5rem;*/ /* margin-top - margin-bottom of footer bar children */
    margin-right: 5.8rem; /* margin-left + width of expand + margin-left */
}

.bar {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-bottom: .8rem;
}


#search-icon-wrapper {
    position: absolute;
    left: 0;
    height: 100%;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
    color: #F1B773;
}

#id_type, #id_sort_by {
    background-color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
    color: #F1B773;
    height: 100%;
    border-radius: .5rem;
    padding-left: .5rem;
    border: none;
}

#search-icon-wrapper {
    padding-left: .6rem;
    /* padding-right: .5rem; */
    width: 3.2rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

#search-icon {
    height: 100%;
}

#search-input-wrapper {
    position: absolute;
    left: 3.2rem;
    right: 0;
    height: 100%;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: #000000;
}

#city {
    height: 2.7rem;
}

#city .selectivity-single-select {
    /* border: .1rem solid #111111; */
    height: 100%;
    border-radius: .5rem;
    background-color: #000000;
}

#city .selectivity-single-result-container {
    margin-top: -.2rem;
    margin-left: .2rem;
}

#city .selectivity-single-selected-item {
    color: #F1B773;
    font-size: 1.3rem;
    margin-left: .2rem;
}

#city .selectivity-placeholder {
    color: #F1B773;
    font-size: 1.3rem;
}

#id_query {
    width: 100%;
    height: 100%;
    /* border: .1rem solid #111111; */
    background-color: transparent;
    border: none;
    color: #F1B773;
    font-size: 1.3rem;
    padding-left: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
/*
#location-bar-dropdown {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .3rem;
}

#sort-bar-dropdown {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .3rem;
} */

#search-expand-icon-wrapper, #search-collapse-icon-wrapper {
    position: absolute;
    top: .7rem;
    right: 1.6rem;
    background-color: #000000;
    width: 2.6rem; /* Height of footer - .6 from top/bottom; kludgey */
    height: 2.6rem; /* Height of footer - .6 from top/bottom; kludgey */
    border-radius: 1.3rem;
    padding-left: .35rem;
    padding-right: .35rem;
}

#search-expand-icon-wrapper {
    padding-top: .15rem;
}

#search-collapse-icon-wrapper {
    display: none;
    padding-top: .55rem;
}

#search-expand-icon, #search-collapse-icon {
    width: 100%;
}
/*
#location-bar {
    height: 2.6rem;
}

#tags-bar {
    height: 2.6rem;
}

#sort-bar {
    height: 2.6rem;
} */

/* REMEMBER TO SET BAR COLOR TO D9D9D9 */

#button-bar {
    background-color: transparent;
}

#clear-button, #search-button {
    position: absolute;
    /* left: 0; */
    width: 45%;
    height: 100%;
    border-radius: .5rem;
    background-color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    text-align: center;
    color: #F1B773;
}

#clear-button {
    left: 0;
    /* vertical-align: middle; */
    padding-top: .4rem;
}

#search-button {
    right: 0;
    border: none;
}

#showing-results-banner {
    background-color: #444444;
    /* background-color: #FDEBAF; */
    /* background-color: #555555; */
    /* color: #F1B773; */
    /* color: #1A8B74; */
    color: #DDDDDD;
    height: 3.5rem;
    font-size: 2rem;
    text-align: center;
    padding-top: .3rem;
}

*:focus {
    outline: none;
}

.bar-extra {
    display: none;
}
