#posts {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #262525;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 5rem;
    /* LEAVE PADDING-TOP CLEAR; this is manipulated in common/main.js */
}

#posts::-webkit-scrollbar {
    display: none;
}

.post {
    margin-top: 1.5rem;
    margin-left: .75rem;
    margin-right: .75rem;
    border-radius: .65rem;
}

.post-header {
    position: relative;
    height: 3.8rem;
}

.post-header-left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 3.8rem;
}

.post-header-right {
    position: absolute;
    padding-left: .8rem;
    padding-right: 1rem;
    padding-top: .4rem;
    background-color: #383838;
    border-top-right-radius: .65rem;
    height: 100%;
    right: 0;
    left: 3.5rem;
}

.author-image {
    width: 100%;
    height: 100%;
    background-color: #CDA990;
    border-top-left-radius: .65rem;
}

.author-name-country {
    color: #d9d9d9;
}

.title {
    font-weight: bold;
    color: #6AA84F;
    font-size: 1.25rem;
}

.post-body {
    position: relative;
    height: 11rem;
}


.post-body-left {
    position: absolute;
    padding-left: 1rem;
    padding-right: .65rem;
    padding-top: .65rem;
    padding-bottom: .65rem;
    background-color: black;
    color: #f3f3f3;
    border-bottom-left-radius: .65rem;
    left: 0;
    right: 10rem;
    height: 100%;
}

.post-body-right {
    position: absolute;
    height: 100%;
    width: 11rem;
    right: 0;
}

.post-image {
    background-color: #D1D6C4;
    border-bottom-right-radius: .65rem;
    width: 100%;
    height: 100%;
}

.btn {
    background-color: #CCCCCC;
}

.btn:hover {
    background-color: #AAAAAA;
}

#posts-footer {
    position: absolute;
    width: 100%;
    height: 4rem;

    /* kludgey, but can't animate to auto. so, = .7rem*2 + 2.6rem*4 + 1.2rem*3 */
    /* height: 15.4;  */

    background-color: #434343;
    bottom: 0px;
}

#footer-bars {
    position: relative;
    margin-left: 1.6rem;
    margin-top: .7rem;
    margin-bottom: -.5rem; /* margin-top - margin-bottom of footer bar children */
    margin-right: 5.8rem; /* margin-left + width of expand + margin-left */
}

#footer-bars > * {
    position: relative;
    width: 100%;
    height: 2.6rem;
    border-radius: .5rem;
    margin-bottom: 1.2rem;
    background-color: #686868;
    /* display: none; */
}

#location-bar, #tags-bar, #sort-bar {
    display: none;
}

#search-bar {
}

#search-icon-wrapper, #location-bar-dropdown, #sort-bar-dropdown {
    position: absolute;
    left: 0;
    height: 100%;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: #6AA84F;
    font-size: 1.25rem;
    font-weight: 500;
}

#search-icon-wrapper {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

#search-icon {
    height: 100%;
}

#location-bar-dropdown {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .3rem;
}

#sort-bar-dropdown {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .3rem;
}

#search-expand-icon, #search-collapse-icon {
    position: absolute;
    top: .7rem;
    height: 2.6rem; /* Height of footer - .6 from top/bottom; kludgey */
    right: 1.6rem;
}

#search-expand-icon {
}

#search-collapse-icon {
    display: none;
}

#location-bar {
    height: 2.6rem;
}

#tags-bar {
    height: 2.6rem;
}

#sort-bar {
    height: 2.6rem;
}

/* REMEMBER TO SET BAR COLOR TO D9D9D9 */
