.container-fluid {
    padding: 0px;
}

#post {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #1E1E1E;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 5rem;
}

#post::-webkit-scrollbar {
    display: none;
}

#image {
    position: relative;
    background-color: #D1D6C4;
    height: 20rem;
    z-index: 1;
}

#info-section {
    position: absolute;
    height: 4rem;
}

#author-info {
    position: relative;
    width: 14rem;
    height: 100%;
    background-color: #383838;
    border-bottom-right-radius: .65rem;
}

#author-image {
    position: absolute;
    background-color: #CDA990;
    height: 100%;
    width: 4rem;
    /* float: left; */
}

#other-author-info {
    position: absolute;
    left: 4rem;
    /* float: right; */
    padding-left: .5rem;
    padding-top: .2rem;
}

#author-name {
    background-color: #C4A266;
    border-radius: .5rem;
    /* margin-left: 10rem; */
    color: #000000;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;

}

#author-country {
    color: #EFEFEF;
}

#other-info {
    height: 4rem;
    color: #d9d9d9;
    float: right;
}

#title {
    margin-top: 4.5rem; /* height of info-section */
    color: #28694F; /* gold instead? */
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#tags {
    outline: none; /* doesn't work when applied directly */
    margin-left: .5rem;
}

.selectivity-multiple-input-container {
    background-color: transparent;
}

.selectivity-multiple-selected-item {
    /* background-color: #F1C231; */
    background-color: #3C78D8;
    color: #EFEFEF;
}

#text {
    /* height: 50rem; */
    background-color: black;
    color: #F3F3F3;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .8rem;
    border-radius: .65rem;
    padding: 1rem;
}


#post-footer {
    position: absolute;
    width: 100%;
    height: 4rem;
    bottom: 0px;
    background-color: #434343;
    display: flex;
    justify-content: space-between;
}

#back-button, #support-button, #unsupport-button, #reply-button, #next-button {
    background-color: #111111;
    margin-top: .7rem;
    height: 2.6rem;
    border-radius: .5rem;
    float: left;
    padding-left: .2rem;
    padding-right: .5rem;
    padding-top: .4rem;
}

#footer-bookend-left, #footer-bookend-right {
    background-color: transparent;
}

#back-button {

}

#post-footer img {
    height: 3rem;
    height: 2.1rem;
    margin-top: -.2rem;
    margin-right: -.1rem;
}

#back-icon {
}

#post-footer span {
    color: #D9D9D9;
    font-weight: 500;
    font-size: 1.2rem;
}

#timestamp {
    color: #CCCCCC;
    margin-right: 1rem;
}
