.post-wrapper {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.post {
    border-radius: .65rem;
}

.post-header {
    position: relative;
    height: 3.8rem;
}

.post-header-left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 3.8rem;
}

.post-header-right {
    position: absolute;
    padding-left: .8rem;
    padding-right: 1rem;
    padding-top: .4rem;
    background-color: #174839;
    border-top-right-radius: .65rem;
    height: 100%;
    left: 3.5rem;
    right: 0;
}



.author-image {
    width: 100%;
    height: 100%;
    background-color: #CDA990;
    border-top-left-radius: .65rem;
}

.author-name-country {
    color: #F1B773;
    font-size: 1.2rem;
    margin-top: -.3rem;
}

.author-name {
    font-weight: bold;
}

.author-country {
    float: right;
}

.title {
    font-weight: bold;
    /* color: #6AA84F; */
    color: #F3F3F3;
    font-size: 1.4rem;
    margin-top: -.3rem;
}

.post-body {
    position: relative;
    height: 14rem;
    background-color: #000000;
}

.post-body-left {
    position: absolute;
    height: 100%;
    width: 14rem;
    /* left: 0; */
    /* z-index: 1; */
}

.post-image {
    /* background-color: #D1D6C4; */
    border-bottom-right-radius: .65rem;
    width: 100%;
    height: 100%;
}

.post-body-right {
    position: absolute;
    padding-left: 1rem;
    padding-right: .65rem;
    padding-top: .65rem;
    padding-bottom: .65rem;
    color: #f3f3f3;
    border-bottom-left-radius: .65rem;
    border-bottom-right-radius: .65rem;
    /* left: 11rem; */
    /* right: 10rem; */
    /* right: 0; */
    left: 14rem;
    height: 100%;
    right: 0;
    /* width: 100%; */
    font-size: 1.2rem;
    word-wrap: break-word;
    overflow-y: hidden;
}

.post-timestamp {
    color: #E9E9E9;
    margin-bottom: 0;
    font-size: 1.2rem;
}
