.container-fluid {
    padding: 0px;
}

#posts {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #262525;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 5rem;
}

#posts::-webkit-scrollbar {
    display: none;
}

#posts-footer {
    position: absolute;
    width: 100%;
    height: 4rem;

    /* kludgey, but can't animate to auto. so, = .7rem*2 + 2.6rem*4 + 1.2rem*3 */
    /* height: 15.4;  */

    background-color: #383838;
    bottom: 0px;
}

#footer-bars {
    position: relative;
    margin-left: 1.6rem;
    margin-top: .7rem;
    margin-bottom: -.5rem; /* margin-top - margin-bottom of footer bar children */
    margin-right: 5.8rem; /* margin-left + width of expand + margin-left */
}

.bar {
    position: relative;
    width: 100%;
    height: 2.6rem;
    margin-bottom: 1.2rem;
}


#search-icon-wrapper {
    position: absolute;
    left: 0;
    height: 100%;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: #111111;
    font-size: 1.25rem;
    font-weight: 500;
    color: #888888;
}

#id_type, #id_sort_by {
    background-color: #111111;
    font-size: 1.25rem;
    font-weight: 500;
    color: #888888;
    height: 100%;
    border-radius: .5rem;
    padding-left: .5rem;
    border: none;
}

#search-icon-wrapper {
    padding-left: .5rem;
    /* padding-right: .5rem; */
    width: 3.2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

#search-icon {
    height: 100%;
}

#search-input-wrapper {
    position: absolute;
    left: 3.2rem;
    right: 0;
    height: 100%;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: #666666;
}

#city .selectivity-single-select {
    border: .1rem solid #111111;
    height: 100%;
    border-radius: .5rem;
    background-color: #666666;
}

#city .selectivity-single-result-container {
    margin-top: -.5rem;
    margin-left: .2rem;
}

#city .selectivity-single-selected-item {
    color: white;
    font-size: 1.25rem;
    margin-left: .2rem;
}

#city .selectivity-placeholder {
    color: #CFCFCF;
    font-size: 1.25rem;
}

#id_query {
    width: 100%;
    height: 100%;
    border: .1rem solid #111111;
    background-color: transparent;
    color: white;
    font-size: 1.25rem;
    padding-left: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
/*
#location-bar-dropdown {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .3rem;
}

#sort-bar-dropdown {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .3rem;
} */

#search-expand-icon, #search-collapse-icon {
    position: absolute;
    top: .7rem;
    height: 2.6rem; /* Height of footer - .6 from top/bottom; kludgey */
    right: 1.6rem;
}

#search-expand-icon {
}

#search-collapse-icon {
    display: none;
}
/*
#location-bar {
    height: 2.6rem;
}

#tags-bar {
    height: 2.6rem;
}

#sort-bar {
    height: 2.6rem;
} */

/* REMEMBER TO SET BAR COLOR TO D9D9D9 */

#button-bar {
    background-color: transparent;
}

#clear-button, #search-button {
    position: absolute;
    /* left: 0; */
    width: 45%;
    height: 100%;
    border-radius: .5rem;
    background-color: #111111;
    font-size: 1.25rem;
    font-weight: 500;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    text-align: center;
    color: #888888;
}

#clear-button {
    left: 0px;
    /* vertical-align: middle; */
    padding-top: .4rem;
}

#search-button {
    right: 0px;
    border: none;
}
