#header-icon-browse {
    background-color: #D9EAD3;
    color: #38761D;
}

#browse {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #262525;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#browse::-webkit-scrollbar {
    display: none;
}

.post {
    margin-top: 1.5rem;
    margin-left: .75rem;
    margin-right: .75rem;
    border-radius: .65rem;
}

.post-header {
    position: relative;
    height: 3.5rem;
}

.post-header-left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 3.5rem;
}

.post-header-right {
    position: absolute;
    padding-left: .65rem;
    padding-right: 1rem;
    padding-top: .4rem;
    background-color: #134E23;
    border-top-right-radius: .65rem;
    height: 100%;
    right: 0;
    left: 3.5rem;
}

.author-image {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border-top-left-radius: .65rem;
}

.author-name-country {
    color: #d9d9d9;
}

.title {
    font-weight: bold;
    color: white;
}

.post-body {
    position: relative;
    height: 10rem;
}


.post-body-left {
    position: absolute;
    padding-left: 1rem;
    padding-right: .65rem;
    padding-top: .65rem;
    padding-bottom: .65rem;
    background-color: black;
    color: #f3f3f3;
    border-bottom-left-radius: .65rem;
    left: 0;
    right: 10rem;
    height: 100%;
}

.post-body-right {
    position: absolute;
    height: 100%;
    width: 10rem;
    right: 0;
}

.post-image {
    background-color: #AAAAAA;
    border-bottom-right-radius: .65rem;
    width: 100%;
    height: 100%;
}

.btn {
    background-color: #CCCCCC;
}

.btn:hover {
    background-color: #AAAAAA;
}
