{% load bootstrap4 %}
{% load static %}
{% load tz_detect %}
<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <title>Climate Africa</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'common/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'common/img/favicon-16x16.png' %}">

    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='{% static 'common/css/style.css' %}'>
    {% block content_style %}{% endblock %}

    {% bootstrap_javascript jquery='full' %}
    <script type='text/javascript' src='{% static 'common/js/main.js' %}'></script>
    {% block content_script %}{% endblock %}

    {% tz_detect %}
</head>
<body>
    {% include 'common/header.html' %}
    <div id='content-wrapper'>{% block content %}{% endblock %}</div>
    <div id='phone'>
        <img id='phone-mockup' src='{% static 'common/img/phone_mockup_darkborder.png' %}' alt='phone mockup'/>
        <img id='phone-mockup-cutoff' src='{% static 'common/img/phone_mockup_cutoff.png' %}' alt='phone mockup cutoff'/>
        <img id='phone-background' src='{% static 'common/img/phone_background_grey_xtreme.png' %}' alt='phone background'/>
        <div id='phone-screen'>
        </div>
    </div>
</body>
</html>
