{% load bootstrap4 %}
{% load static %}
{% load tz_detect %}
<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <title>Climate Africa</title>
    {% tz_detect %}

    {% bootstrap_css %}
    <link rel='stylesheet' href='{% static 'common/css/style.css' %}'>
    {% block content_style %}{% endblock %}

    {% bootstrap_javascript jquery='full' %}
    <script type='text/javascript' src='{% static 'common/js/main.js' %}'></script>
    {% block content_script %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <!-- <div id='phone'>
        <img id='phone-mockup' src='{ static 'common/img/phone_mockup.png' }' alt='phone mockup'/>
        <img id='phone-mockup-cutoff' src='{ static 'common/img/phone_mockup_cutoff.png' }' alt='phone mockup cutoff'/>
        <img id='phone-background' src='{ static 'common/img/phone_background_grey_xtreme.png' }' alt='phone background'/>
        <div id='phone-screen'>
        </div>
    </div> -->
</body>
</html>
