<div id='header' class='custom-shadow'>
    <div class='row'>
        <div class='header-icon-wrapper col'><a href='{% url 'story:init' %}' id='header-icon-story' class='header-icon'>Stry</a></div>
        <div class='header-icon-wrapper col'><a href='{% url 'browse:init' %}' id='header-icon-browse' class='header-icon'>Brws</a></div>
        <div class='header-icon-wrapper col'><a href='{% url 'compose:init' %}' id='header-icon-compose' class='header-icon'>Cmps</a></div>
        <div class='header-icon-wrapper col'><a href='{% url 'map:init' %}' id='header-icon-map' class='header-icon'>Mp</a></div>
        <div class='header-icon-wrapper col'><a href='{% url 'settings_menu:init' %}' id='header-icon-settings' class='header-icon'>Stngs</a></div>
    </div>
</div>
