{% extends 'common/base.html' %}

{% block content_style %}
{% load static %}
<link rel='stylesheet' href='{% static ' common/css/lib/selectivity-jquery.min.css' %}'>
<link rel='stylesheet' href='{% static ' common/css/join_style.css' %}'>
{% endblock %}

{% block content_script %}
{% load static %}
<script type='text/javascript' src='{% static ' common/js/lib/selectivity-jquery.min.js' %}'></script>
<script type='text/javascript'>
    var cityNames = {{ city_names }};
</script>
<script type='text/javascript' src='{% static ' common/js/join_main.js' %}'></script>
{% endblock %}

{% block content %}
<div class='container-fluid'>
    <div id='join' class='main'>
        <form id='join-form' action='{% url ' common:join' %}?next={{ next }}' method='post'
            enctype='multipart/form-data'>
            {% csrf_token %}
            <input type='hidden' id='default-city-input-hidden' name='default_city'>
            {{ form.non_field_errors }}
            <div id='username-mat' class='mat custom-shadow'>
                <div class="form-group">
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
            </div>
            <div id='password-mat' class='mat custom-shadow'>
                <div class="form-group">
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-group">
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
            </div>
            <div id='is-organization-mat' class='mat custom-shadow'>
                <div id='is-organization-wrapper'>
                    <label id='is-organization-label' for='id_is_organization'>This profile is for</label>
                    {{ form.is_organization }}
                    {{ form.is_organization.errors }}
                </div>
            </div>
            <div id='additional-info-mat' class='mat custom-shadow'>
                <div id='name-wrapper'>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div id='default-city-wrapper'>
                    <div id='default-city'></div>
                    {{ form.default_city.errors }}
                </div>
                <div id='email-wrapper'>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div id="bio-wrapper">
                    {{ form.bio }}
                    {{ form.bio.errors }}
                </div>
                <div id='website-wrapper'>
                    {{ form.website }}
                    {{ form.website.errors }}
                </div>
                <div id='user-image-wrapper'>
                    <label id='user-image-label' for='id_user_image'>Image:</label>
                    {{ form.user_image }}
                    {{ form.user_image.errors }}
                </div>
            </div>
            <button id='submit-button' type='submit' class='button custom-shadow'>Join ClimateJustice4Africa</button>
        </form>
        <a href='{% url ' common:login' %}?next={{ next }}'>
            <div id='login-link'>I already have an account</div>
        </a>
    </div>
</div>
{% endblock %}