{% extends 'common/base.html' %}

{% block content_style %}
{% load static %}
<link rel='stylesheet' href='{% static 'common/css/login_style.css' %}'>
{% endblock %}

{% block content %}
<div class='container-fluid'>
    <div id='login' class='main'>
        <form action='{% url 'common:login' %}?next={{ next }}' method='post'>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div id='username-password-mat' class='custom-shadow'>
                <div class="form-group">
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
            </div>
            <button id='submit-button' type='submit' class="custom-shadow">Log in</button>
        </form>
        <a href='{% url 'common:join' %}?next={{ next }}'><div id='join-link'>I don't have an account</div></a>
    </div>
</div>
{% endblock %}