.container-fluid {
    padding: 0;
}

#compose {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #1E1E1E;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

#compose::-webkit-scrollbar {
    display: none;
}

.mat {
    background-color: #174839;
    border-radius: .65rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-top: 1.5rem;
}

.mat > * {
    padding-bottom: 1rem;
}

.form-group {
    margin: 0;
}

input, textarea, .selectivity-multiple-input-container, .selectivity-single-select, select {
    background-color: #000000;
    border-radius: .25rem;
    color: #F1B773;
    padding: .5rem;
    font-size: 1.2rem;
    border: none;
}

input, textarea {
    width: 100%;
}

.selectivity-single-selected-item {
    color: #F1B773;
    margin-left: .4rem;
}

.selectivity-multiple-selected-item {
    background-color: #444444;
    color: #F1B773;
    background-color: #CCCCCC;
    color: #000000;
}

/* Might be worth looking through this if you'd like to style the button https://css-tricks.com/snippets/css/custom-file-input-styling-webkitblink/ */

#text-input {
    height: 10rem;
}

#event-date-wrapper > select {
    margin-right: 1rem;
}

#submit-button {
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: .65rem;
    background-color: #174839;
    color: #F1B773;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    border: none;
}

#submit-button:hover {
    background-color: #1A8B74;
    color: #F1B773;
}

.errorlist {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: #FFFFFF;
}

#image-label {
    float: left;
    width: 4.5rem;
    color: #F1B773;
    font-size: 1.3rem;
    margin-top: .45rem;
}

#well-amount-label {
    float: left;
    color: #F1B773;
    font-size: 1.3rem;
}

#well-population-label {
    float: left;
    color: #F1B773;
    font-size: 1.3rem;
}

#id_well_population, #id_well_amount {
    width: 8rem;
    height: 2rem;
    margin-left: .7rem;
}

#id_image {
    width: calc(100% - 4.5rem);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill::first-line,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill::first-line {
  border: none;
  -webkit-text-fill-color: #F1B773;
  -webkit-box-shadow: 0 0 0 100rem #000000 inset;
  font-size: 1.2rem;
}
