.container-fluid {
    padding: 0px;
}

#compose {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #1E1E1E;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

#compose::-webkit-scrollbar {
    display: none;
}

.mat {
    background-color: #434343;
    border-radius: .65rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-top: 1.5rem;
}

/* Prevents shadow from affecting children (which can mess with some things) */
/* .mat {
    -webkit-filter: drop-shadow(0 2px 5px rgba(0,0,0,.7));
    -moz-filter: drop-shadow(0 2px 5px rgba(0,0,0,.7));
    -ms-filter: drop-shadow(0 2px 5px rgba(0,0,0,.7));
    -o-filter: drop-shadow(0 2px 5px rgba(0,0,0,.7));
    filter: drop-shadow(0 2px 5px rgba(0,0,0,.7));
} */

/*
.mat * {
    -webkit-filter: none !important;
    -moz-filter: none !important;
    -ms-filter: none !important;
    -o-filter: none !important;
    filter: none !important;
} */

.mat > * {
    padding-bottom: 1rem;
}

.form-group {
    margin: 0;
}

input, textarea, .selectivity-multiple-input-container, .selectivity-single-select, select {
    background-color: #EFEFEF;
    border-radius: .25rem;
    color: black;
    padding: .5rem;
    font-size: 1.2rem;
    border: none;
}

input, textarea {
    width: 100%;
}

/* Might be worth looking through this if you'd like to style the button https://css-tricks.com/snippets/css/custom-file-input-styling-webkitblink/ */

#text-input {
    height: 10rem;
}

#event-date-wrapper > select {
    margin-right: 1rem;
}

#submit-button {
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: .65rem;
    background-color: #38761D;
    color: #F3F3F3;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    border: none;
}

#submit-button:hover {
    background-color: #274E13;
    color: #D9D9D9;
}

.errorlist {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: #FA1001;
}

label {

}

#image-label {
    float: left;
    width: 4.5rem;
    color: whitesmoke;
    font-size: 1.3rem;
    margin-top: .45rem;
}

#well-amount-label {
    float: left;
    /* width: 4.5rem; */
    color: whitesmoke;
    font-size: 1.3rem;
    /* margin-top: .45rem; */
}

#well-population-label {
    float: left;
    /* width: 4.5rem; */
    color: whitesmoke;
    font-size: 1.3rem;
    /* margin-top: .45rem; */
}

#id_well_population, #id_well_amount {
    width: 8rem;
    height: 2rem;
    margin-left: .7rem;
}

#id_image {
    width: calc(100% - 4.5rem);
}
