{% extends 'common/base.html' %}

{% block content_style %}
{% load static %}
<link rel='stylesheet' href='{% static 'common/css/lib/selectivity-jquery.min.css' %}'>
<link rel='stylesheet' href='{% static 'menu/css/change_info_style.css' %}'>
{% endblock %}

{% block content_script %}
{% load static %}
<script type='text/javascript' src='{% static 'common/js/lib/selectivity-jquery.min.js' %}'></script>
<script type='text/javascript'>
    var cityNames = {{ city_names }};
    var oldInfo = {{ old_info }};
</script>
<script type='text/javascript' src='{% static 'menu/js/change_info_main.js' %}'></script>
{% endblock %}

{% block content %}
{% include 'common/header.html' %}
<div class='container-fluid'>
    <div id='change-info'>
        <form id='change-info-form' action='{% url 'menu:change_info' %}' method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            <input type='hidden' id='new-default-city-input-hidden' name='new_default_city'>
            {{ form.non_field_errors }}
            <div id='new-username-mat' class='mat custom-shadow'>
                <div class="form-group">
                    {{ form.new_username }}
                    {{ form.new_username.errors }}
                </div>
            </div>
            <div id='new-password-mat' class='mat custom-shadow'>
                <div class="form-group">
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>
                <div class="form-group">
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>
            </div>
            <div id='additional-info-mat' class='mat custom-shadow'>
                <div id='new-name-wrapper'>
                    {{ form.new_name }}
                    {{ form.new_name.errors }}
                </div>
                <div id='new-default-city-wrapper'>
                    <div id='new-default-city'></div>
                    {{ form.new_default_city.errors }}
                </div>
                <div id='new-email-wrapper'>
                    {{ form.new_email }}
                    {{ form.new_email.errors }}
                </div>
                <div id="new-bio-wrapper">
                    {{ form.new_bio }}
                    {{ form.new_bio.errors }}
                </div>
                <div id='new-website-wrapper'>
                    {{ form.new_website }}
                    {{ form.new_website.errors }}
                </div>
                <div id='new-user-image-wrapper'>
                    <label id='new-user-image-label' for='id_new_user_image'>New image:</label>
                    {{ form.new_user_image }}
                    {{ form.new_user_image.errors }}
                </div>
            </div>
            <button id='submit-button' type='submit' class='button custom-shadow'>Update information</button>
        </form>
    </div>
</div>
{% endblock %}
