{% extends 'common/base.html' %}

{% block content_style %}
{% load static %}
<link rel='stylesheet' href='{% static 'browse/css/posts_style.css' %}'>
<link rel='stylesheet' href='{% static 'browse/css/post_preview_style.css' %}'>
{% endblock %}

{% block content_script %}
{% load static %}
<script type='text/javascript' src='{% static 'browse/js/posts_main.js' %}'></script>
{% endblock %}

{% block content %}
{% include 'common/header.html' %}
<div class='container-fluid'>
    <div id='posts'>
        {% if posts %}
        {% for post in posts %}
        {% include 'browse/post_preview.html' with post=post %}
        {% endfor %}
        {% endif %}
    </div>
    <div id='posts-footer' class='custom-shadow'>
        <form id='search-form' action='{% url 'browse:posts' %}' method='post'>
            {% csrf_token %}
            <div id='footer-bars'>
                <div id='search-bar'>
                    <div id='search-icon-wrapper'>
                        <img id='search-icon' src='{% static 'browse/img/search_icon_grey.png' %}' alt='search icon'/>
                    </div>
                    <div id='search-input-wrapper'>
                        {{ form.query }}
                    </div>
                </div>
                <div id='location-bar'>
                    <div id='location-bar-dropdown'>Location &#9662;</div>
                </div>
                <div id='tags-bar'>
                </div>
                <div id='sort-bar'>
                    <div id='sort-bar-dropdown'>Sort by &#9662;</div>
                </div>
                <div id='button-bar'>
                    <div id='clear-button'>Clear</div>
                    <button id='search-button' type='submit'>Search</button>
                </div>
            </div>
        </form>
        <img id='search-expand-icon' src='{% static 'browse/img/expand_icon_dark.png' %}' alt='search expand icon'/>
        <img id='search-collapse-icon' src='{% static 'browse/img/collapse_icon_dark.png' %}' alt='search collapse icon'/>
    </div>
</div>
{% endblock %}
