{% extends 'common/base.html' %}

{% block content_style %}
{% load static %}
<link rel='stylesheet' href='{% static 'common/css/lib/selectivity-jquery.min.css' %}'>
<link rel='stylesheet' href='{% static 'browse/css/post_style.css' %}'>
{% endblock %}

{% block content_script %}
{% load static %}
<script type='text/javascript' src='{% static 'common/js/lib/selectivity-jquery.min.js' %}'></script>
<script type='text/javascript'>
    var tagNames = {{ tag_names }};
</script>
<script type='text/javascript' src='{% static 'browse/js/post_main.js' %}'></script>
{% endblock %}

{% block content %}
{% include 'common/header.html' %}
<div class='container-fluid'>
    <div id='post'>
        <div class='custom-shadow'>
            <div id='image'></div>
            <div id='info-section'>
                <div id='author-info'>
                    <div id='author-image'></div>
                </div>
            </div>
        </div>
        <div id='other-info'>
            <div id='date'>{{ post.created_at }}</div>
            <div id='response'></div>
        </div>
        <div id='title'>{{ post.title }}</div>
        <div id='tags'></div>
        <div id='text' class='custom-shadow'>{{ post.text }}</div>
    </div>
    <div id='post-footer' class='custom-shadow'>
        <div id='footer-bookend-left'></div>
        <div id='back-button'>
            <img id='back-icon' src='{% static 'browse/img/back_icon_green.svg' %}' alt='back icon'/>
            <span id='back-text'>Back</span>
        </div>
        <div id='support-button'>
            <img id='support-icon' src='{% static 'browse/img/support_icon_green.svg' %}' alt='support icon'/>
            <span id='support-text'>Support</span>
        </div>
        <div id='reply-button'>
            <img id='reply-icon' src='{% static 'browse/img/reply_icon_green.svg' %}' alt='reply icon'/>
            <span id='reply-text'>Reply</span>
        </div>
        <div id='next-button'>
            <img id='next-icon' src='{% static 'browse/img/next_icon_green.svg' %}' alt='next icon'/>
            <span id='next-text'>Next</span>
        </div>
        <div id='footer-bookend-right'></div>
    </div>
</div>
{% endblock %}
