{% extends 'common/base.html' %}

{% block content_style %}
{% load static %}
<link rel='stylesheet' href='{% static 'common/css/lib/selectivity-jquery.min.css' %}'>
<link rel='stylesheet' href='{% static 'browse/css/post_style.css' %}'>
{% endblock %}

{% block content_script %}
{% load static %}
<script type='text/javascript' src='{% static 'common/js/lib/selectivity-jquery.min.js' %}'></script>
<script type='text/javascript'>
    var reportImpactTagNames = {{ report_impact_tag_names }};
    var projectIntentionTagNames = {{ project_intention_tag_names }};
    // var supported = {{ supported }};
    // var supportUrl = {{ support_url }};
    // var unsupportUrl = {{ unsupport_url }};
</script>
<script type='text/javascript' src='{% static 'browse/js/post_main.js' %}'></script>
{% endblock %}

{% block content %}
<div class='container-fluid'>
    <div id='post' class='main'>
        {% if post.first_image %}
        <img id='image' class='custom-shadow' src='{{ post.first_image.image.url }}' alt='author image'/>
        {% else %}
        <div id='no-image'>[No image provided]</div>
        {% endif %}
        <div id='author-info' class='custom-shadow'>
            {% if post.user.profile.user_image_or_none %}
            <img id='author-image' src='{{ post.user.profile.user_image_or_none.image.url }}' alt='author image'/>
            {% else %}
            <div id='author-no-image'>[No image provided]</div>
            {% endif %}
            <div id='other-author-info'>
                <a href='{% url 'browse:profile' user_id=post.user.id %}' class='button'><div id='author-name' class='custom-shadow'>{{ post.user.profile.name }}</div></a>
                <div id='author-country'>{{ post.city.country.name }}</div>
            </div>
        </div>
        <!-- <div id='timestamp-wrapper'> -->
        <div id='timestamp'>{{ formatted_timestamp }}</div>
            <!-- <div id='supports'>{ post.n_supporters }</div> -->
        <!-- { if tag_names != '[]' }
        <div id='tags'></div>
        { endif } -->
        <div id='other-info'>
            <div id='title'>{{ post.title }}</div>
            {% if post.type == 'extreme_weather_report' %}
            <div id='main-type'>Extreme weather report</div>
            <ul id='type-info-list'>
                <li>Event type: <span id='report-type'>{{ report_type }}</span></li>
                {% if report_impact_tag_names != '[]' %}
                <li><div id='report-impacts-text'>Event impacts: </div><div id='report-impacts'></div></li>
                {% endif %}
            </ul>
            {% elif post.type == 'resilience_project' %}
            <div id='main-type'>Resilience project</div>
            <ul id='type-info-list'>
                {% if project_intention_tag_names != '[]' %}
                <li><div id='project-intentions-text'>Project intentions: </div><div id='project-intentions'></div></li>
                {% endif %}
            </ul>
            <div id='project-intentions'></div>
            {% elif post.type == 'climate_justice_event' %}
            <div id='main-type'>Climate justice event</div>
            <ul id='type-info-list'>
                <li>Event date: <span id='event-date'>{{ post.event_date }}</span></li>
            </ul>
            {% elif post.type == 'well_needed' %}
            <div id='main-type'>Well needed</div>
            <ul id='type-info-list'>
                <li>Population served: <span id='well-population'>{{ post.well_population }}</span></li>
                <li>Amount needed (USD): <span id='well-amount'>${{ post.well_amount }}</span></li>
            </ul>
            {% endif %}
        </div>
        <div id='text' class='custom-shadow'>{{ post.text }}</div>
    </div>
    <!-- <div id='post-footer' class='custom-shadow'>
        <div id='footer-bookend-left'></div>
        <a href='{% url 'browse:posts' %}'><div id='back-button'>
            <img id='back-icon' src='{% static 'browse/img/back_icon_grey.png' %}' alt='back icon'/>
            <span id='back-text'>Back</span>
        </div></a>
        <div id='support-button'>
            <img id='support-icon' src='{ static 'browse/img/support_icon_grey.png' }' alt='support icon'/>
            <span id='support-text'>Support</span>
        </div>
        <div id='unsupport-button'>
            <img id='unsupport-icon' src='{ static 'common/img/heart_icon_red.png' }' alt='unsupport icon'/>
            <span id='unsupport-text'>Unsupport</span>
        </div>
        <div id='reply-button'>
            <img id='reply-icon' src='{ static 'browse/img/reply_icon_grey.png' }' alt='reply icon'/>
            <span id='reply-text'>Reply</span>
        </div>
        <div id='next-button'>
            <img id='next-icon' src='{ static 'browse/img/next_icon_grey.png' }' alt='next icon'/>
            <span id='next-text'>Next</span>
        </div>
        <div id='footer-bookend-right'></div>
    </div> -->
</div>
{% endblock %}
