{% extends 'common/base.html' %}

{% block content_style %}
{% load static %}
<link rel='stylesheet' href='{% static 'common/css/lib/selectivity-jquery.min.css' %}'>
<link rel='stylesheet' href='{% static 'browse/css/posts_style.css' %}'>
<link rel='stylesheet' href='{% static 'browse/css/post_preview_style.css' %}'>
{% endblock %}

{% block content_script %}
{% load static %}
<script type='text/javascript' src='{% static 'common/js/lib/selectivity-jquery.min.js' %}'></script>
<script type='text/javascript' src='{% static 'browse/js/posts_main.js' %}'></script>
<script type='text/javascript'>
    var availableCityNames = {{ available_city_names }};
</script>
{% endblock %}

{% block content %}
<div class='container-fluid'>
    <div id='posts' class='main'>
        {% if showing_results %}
        {% if posts|length == 1 %}
        <div id='showing-results-banner' class='custom-shadow'>{{ posts|length }} result found:</div>
        {% else %}
        <div id='showing-results-banner' class='custom-shadow'>{{ posts|length }} results found:</div>
        {% endif %}
        {% endif %}
        {% if posts %}
        {% for post in posts %}
        {% include 'browse/post_preview.html' with post=post %}
        {% endfor %}
        {% endif %}
    </div>
    <div id='posts-footer' class='custom-shadow'>
        <form id='search-form' action='{% url 'browse:posts' %}' method='post'>
            {% csrf_token %}
            <input type='hidden' id='city-input-hidden' name='city'>
            <div id='footer-bars'>
                <div id='search-bar' class='bar'>
                    <div id='search-icon-wrapper'>
                        <img id='search-icon' src='{% static 'common/img/search_gold.png' %}' alt='search icon'/>
                    </div>
                    <div id='search-input-wrapper'>
                        {{ form.query }}
                    </div>
                    {{ form.query.errors }}
                </div>
                <div id='city-bar' class='bar bar-extra'>
                    <!-- <div id='location-bar-dropdown'>Location &#9662;</div> -->
                    <div id='city'></div>
                    {{ form.city.errors }}
                </div>
                <div id='type-bar' class='bar bar-extra'>
                    {{ form.type }}
                    {{ form.type.errors }}
                </div>
                <div id='sort-bar' class='bar bar-extra'>
                    <!-- <div id='sort-bar-dropdown'>Sort by &#9662;</div> -->
                    {{ form.sort_by }}
                    {{ form.sort_by.errors }}
                </div>
                <div id='button-bar' class='bar bar-extra'>
                    <a href='{% url 'browse:posts' %}'><div id='clear-button'>Clear</div></a>
                    <button id='search-button' type='submit'>Search</button>
                </div>
            </div>
        </form>
        <div id='search-expand-icon-wrapper'>
            <img id='search-expand-icon' src='{% static 'common/img/expand_gold.png' %}' alt='search expand icon'/>
        </div>
        <div id='search-collapse-icon-wrapper'>
            <img id='search-collapse-icon' src='{% static 'common/img/collapse_gold.png' %}' alt='search collapse icon'/>
        </div>
    </div>
</div>
{% endblock %}
