{% extends 'common/base.html' %}

{% block content_style %}
{% load static %}
<link rel='stylesheet' href='{% static 'common/css/lib/selectivity-jquery.min.css' %}'>
<link rel='stylesheet' href='{% static 'browse/css/post_style.css' %}'>
{% endblock %}

{% block content_script %}
{% load static %}
<script type='text/javascript' src='{% static 'common/js/lib/selectivity-jquery.min.js' %}'></script>
<script type='text/javascript'>
    var tagNames = {{ tag_names }};
    var supported = {{ supported }};
    var supportUrl = {{ support_url }};
    var unsupportUrl = {{ unsupport_url }};
</script>
<script type='text/javascript' src='{% static 'browse/js/post_main.js' %}'></script>
{% endblock %}

{% block content %}
{% include 'common/header.html' %}
<div class='container-fluid'>
    <div id='post' class='main'>
        <div class='custom-shadow'>
            <div id='image'></div>
            <div id='info-section'>
                <div id='author-info'>
                    <div id='author-image'></div>
                    <div id='other-author-info'>
                        <a href='{% url 'browse:profile' user_id=post.user.id %}' class='button'><div id='author-name'>{{ post.user.username }}</div></a>
                        <div id='author-country'>{{ post.city.country.name }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id='other-info'>
            <div id='date'>{{ formatted_timestamp }}</div>
            <div id='supports'>{{ post.n_supporters }}</div>
        </div>
        <div id='title'>{{ post.title }}</div>
        {% if tag_names != '[]' %}
        <div id='tags'></div>
        {% endif %}
        <div id='text' class='custom-shadow'>{{ post.text }}</div>
    </div>
    <!-- <div id='post-footer' class='custom-shadow'>
        <div id='footer-bookend-left'></div>
        <a href='{% url 'browse:posts' %}'><div id='back-button'>
            <img id='back-icon' src='{% static 'browse/img/back_icon_grey.png' %}' alt='back icon'/>
            <span id='back-text'>Back</span>
        </div></a>
        <div id='support-button'>
            <img id='support-icon' src='{ static 'browse/img/support_icon_grey.png' }' alt='support icon'/>
            <span id='support-text'>Support</span>
        </div>
        <div id='unsupport-button'>
            <img id='unsupport-icon' src='{ static 'common/img/heart_icon_red.png' }' alt='unsupport icon'/>
            <span id='unsupport-text'>Unsupport</span>
        </div>
        <div id='reply-button'>
            <img id='reply-icon' src='{ static 'browse/img/reply_icon_grey.png' }' alt='reply icon'/>
            <span id='reply-text'>Reply</span>
        </div>
        <div id='next-button'>
            <img id='next-icon' src='{ static 'browse/img/next_icon_grey.png' }' alt='next icon'/>
            <span id='next-text'>Next</span>
        </div>
        <div id='footer-bookend-right'></div>
    </div> -->
</div>
{% endblock %}
