.container-fluid {
    padding: 0;
}

#select {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #1E1E1E;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 1.2rem;
}

#select::-webkit-scrollbar {
    display: none;
}
