#return-wrapper {
    position: absolute;
    width: 100%;
    padding-left: 50%;
    z-index: 1;
}

#return-icon {
    height: 1.4rem;
    width: 2.8rem;
    margin-left: -2rem;
    margin-top: .7rem;
    display: none;
}

#header {
    position: absolute;
    width: 100%;
    height: 4.8rem;
    top: 0;
    background-color: #000000;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}

.icon-placement-wrapper {
    position: relative;
    height: 100%;
    margin: 0;
    padding-left: .8rem;
    padding-right: .8rem;
}

.icon-wrapper-selected, .icon-wrapper-unselected {
    position: absolute;
    width: 3.8rem;
    height: 3.8rem;
    margin-left: -1.9rem;
    margin-top: -1.9rem;
    left: 50%;
    top: 50%;
    padding: .4rem;
    border: .2rem solid transparent;
    border-radius: 1rem;
}

.icon-wrapper-selected {
    border: .2rem solid #1A8B74;
}

.icon {
    width: 100%;
    height: 100%;
}
