.container-fluid {
    padding: 0;
}

#login {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #1E1E1E;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#login::-webkit-scrollbar {
    display: none;
}

#username-password-mat {
    background-color: #174839;
    border-radius: .65rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-top: 1.5rem;
}

#username-password-mat > * {
    padding-bottom: 1rem;
}

.form-group {
    margin: 0;
}

input {
    background-color: #000000;
    border-radius: .25rem;
    color: #F1B773;
    padding: .5rem;
    font-size: 1.2rem;
    border: none;
    width: 100%;
}

#submit-button {
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: .65rem;
    background-color: #174839;
    color: #F1B773;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    width: 100%;
}

#submit-button:hover {
    background-color: #1A8B74;
    color: #F1B773;
}

#join-link {
    color: #EFEFEF;
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.errorlist {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill::first-line,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill::first-line {
  border: none;
  -webkit-text-fill-color: #F1B773;
  -webkit-box-shadow: 0 0 0 100rem #000000 inset;
  font-size: 1.2rem;
}
